@{
    ViewBag.Title = "AddCandidateView";
}

<h2>AddCandidateView</h2>

<form action="AddCandidate">
    <div>
        Name: <input type="text" name="Name" />
    </div>
    <div>
        Party: <input type="text" name="Party" />
    </div>
    <input type="submit" value="Submit"/>
</form>

